<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head><title th:text="${jabatan.nama}"></title></head>
	<body>
		<h2 th:text="'Lihat Data Jabatan '+${jabatan.nama}"></h2>
		
		<table style="width:30%">
		    <tr>
		        <td>Nama</td>
		        <td th:text="${jabatan.nama}"></td>
		    </tr>
		    <tr>
		        <td>Deskripsi</td>
		        <td th:text="${jabatan.deskripsi}"></td>
		    </tr>
		    <tr>
		        <td>Gaji Pokok</td>
		        <td th:text="'Rp. '+${jabatan.gajiPokok}"></td>
		    </tr>
		</table>
		<a th:href="@{/jabatan/ubah(idJabatan=${jabatan.id})}">Ubah</a>
		<form th:action="@{/jabatan/hapus}" method="POST">
			<input type="hidden" name="idJabatan" th:value="${jabatan.id}" />
			<button type="submit">Hapus</button>
		</form>
		
		
	</body>
</html>