<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="'Lihat Semua Jabatan'"></title>
		<object th:include="fragments/fragment :: jquery" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css_datatable" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js_datatable" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav><br>
		<div class="container-fluid">
			<div class="card">
				<div class="card-header">
					<h2>Lihat Semua Jabatan</h2>
				</div>
				<div class="card-body">
				<table id="table">
					<thead>
						<tr>
						    <th>Nama</th>
						    <th>Deskripsi</th> 
						    <th>Gaji Pokok</th>
					  	</tr>
				  	</thead>
				  	<tbody>
						<tr th:each="jab : ${jabatan}"  >
						    <td th:text="${jab.nama}"></td> 
						    <td th:text="${jab.deskripsi}"></td>      
						    <td th:text="${jab.gajiPokok}"></td>   
						</tr>
					</tbody> 
				</table>
				</div>
			</div>
		</div>
		<br>
		<script>
			$(document).ready( function () {
			    $('#table').DataTable();
			} );
		</script>
	</body>
</html>